<style>

    input {
        width: 260px;

    }
    textarea{
        width: 260px;
        height: 150px;
    }

</style>
<h1>Vorschläge</h1>
<div>
    <p>Schreib mir, was dieser Seite hinzugefügt werden soll, was du ändern würdest und welchen Fehler du gefunden hast.</p>
    <form class="pure-form pure-form-stacked">
        <fieldset>
            <label for="email">Email: (optional)</label>
            <input id="email" type="email" placeholder="Email for questions (optional)"
                   ng-model="email.sender">
            <label for="text">Nachricht:</label>
            <textarea id="text" placeholder="Your feedback" ng-model="email.text" required></textarea>
        </fieldset>
        <button class="pure-button pure-button-primary" type="submit" ng-click="sendFeedback()">Absenden
        </button>
    </form>
    <p><b>Danke :)</b></p>
</div>